@font-face {
  font-family: 'Akkurat Light';
  src: url('../css/fonts/lineto-akkurat-light.eot');
  src: url('../css/fonts/lineto-akkurat-light.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/lineto-akkurat-light.woff2') format('woff2'),
    url('../css/fonts/lineto-akkurat-light.woff') format('woff')
}

@font-face {
  font-family: 'Cassia ExtraLight';
  src: url('../css/fonts/3223B6_0_0.eot');
  src: url('../css/fonts/3223B6_0_0.eot?#iefix') format('embedded-opentype'),
  url('../css/fonts/3223B6_0_0.woff2') format('woff2'),
  url('../css/fonts/3223B6_0_0.woff') format('woff')
}