#mission {

  font-family: "Cassia ExtraLight";

  > div {
    margin: 55px auto;
  }

  #our-mission {
    font-size: 19px;
    line-height: 1.367;
    margin: 35px 40px;

    h1 {
      text-transform: lowercase;
      color: $grey-dark;
    }

    p {
      color: $blue-dark;
    }
  }

  #prose {
    font-size: 14px;
    font-family: "Akkurat Light";
    color: $grey;
    line-height: 1.7;

    background: url("../img/mission-1.png") no-repeat 40px 0px/103px 66px;
    padding-top: 110px;

    p {
      margin: 0 40px;
    }
  }
}
