#programs {
  font-family: "Cassia ExtraLight";

  > div {
    width: 100%;
  }

  #our-process {
    font-size: 30px;
    line-height: 1.367;
    width: 80%;

    h1 {
      text-transform: lowercase;
      color: $grey-dark;
    }

    p {
      color: $blue-dark;
      width: 560px;
    }
  }
  
 

  .numbers {
    height: 325px;
    background-color: $grey-medium;

    

    p {
      font-family: "Akkurat Light";
      font-size: 18px;
      line-height: 2;
      margin: 90px 0 0 65px;
      color: $blue-dark-2;
      width: 325px;
      //border: 1px solid crimson;
      float: left;
    }
  }

  
  #features-wrap{
    display: flex;
  }
  
  .feature{
    width: 33.3333%;
    margin: 0 2%;
    
    a{
        text-decoration: none;
    }
  }
  
  .feature-top{
    padding: 9px 0;
    text-align: center;
    
    img{
        max-width: 115px;
    }
  }
  
  .feature-bottom{
    background: #f9f9f9;
    
    h2{
        text-align: center;
        padding: 1.3em 0;
    }
  }
    
}
